@font-face{
font-family:code;
src:url(../font/codelight.otf);
}

html{
max-width:100%;
max-height:100%;
margin:0%;
}

body{
width:100%;
height:auto;
margin:0%;
background-color:black;
background-image: url(pics/logo.jpg);
background-size: cover;
background-repeat:no-repeat; 
}



h1 ,p{
font-family: code;
color:white;
}

h1{
text-align:center;
font-size:4.5vw;
width:100%
height:auto;
}

p{
width:100%;
height:auto;
float:left;
font-size:2vw;
position:absolute;
left:0.5vw;
text-align:center;
}

ul{

max-width:100%;
height:auto;
display:block;
float:left;
clear:right;
font-family:code;
color:white;
position:absolute;
top:35vw;
left:30vw;
font-size:1.3vw;

}


footer{
z-index:100;
margin:0%;
max-width:100%;
height:auto;
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
ms-user-select:none;
}

footer img{
position:fixed;
width:10vw;
left:90%;
top:84%
}
